{% extends 'admin/admin.html.twig' %}

{% block title "Recette : " ~ recipe.title %}
{% block body %}

{{ form_start(form) }}
    <div class="flex">
        {{form_row(form.title)}}
    </div>
{{ form_end(form) }}

{% endblock %}